.centerCalls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
}


button {
    background-color: white;
    color: black;
    padding: 20px;
}

button:hover {
    background-color: aliceblue;
    transform: scale(1.05);
}
