.strikezone {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);    
    padding-bottom: 40px;
}
