.swing-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    font-size: 20px;
    gap: 10px;
    color: black;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.swing-content button {
    font-size: 18px;
    width: 100px;
    max-width: 60%;
}

.swing-content button:hover {
    background-color: aliceblue;;
    transform: scale(1.05);
}