.swing-content {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

.swing-button {
    background-color: white;
    color: black;
    padding: 20px;

}

.swing-button:hover {
    background-color: aliceblue;;
    transform: scale(1.05);
}